<div class="container m-3">
  <div class="d-flex justify-content-between align-items-center ">
    <div> Categories</div>
    <div>
      <button class="btn btn-primary" routerLink="/content-manager/categories/add">Add</button>
    </div>

  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf=" categories$| async as categories">
      <tr *ngFor="let catrgoty of categories">
        <th scope="row">{{catrgoty.id}}</th>
        <td>{{catrgoty.title}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/content-manager/categories/edit/{{catrgoty.id}}">Edit</button>
          <button class="btn btn-danger" (click)="deleteCategory(catrgoty.id)">Delete</button>
        </td>
      </tr>

    </ng-container>
    </tbody>
  </table>
</div>
